<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>  
        button{

            margin: 20px;
            padding: 20px;
            width: 100px;
            height: 100px;
            color: rgb(0, 0, 0);
            background-color: black;
        }
        
        
        
          </style>
    <title>{{title}}</title>
    <h1> welcome to  {{title}}</h1>
</head>
<body>
    
<div>
<button><a href="/" class="">logout </a></button>
<button><a href="/products" class=""> products  </a></button>
<button><a href="/blog/create" class=""> file upload  </a></button>
<button><a href="/user" class="">  USERS </a></button>


</div>

</body>
</html>