<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
  <h1> {{title}} </h1>
   <link rel='stylesheet' href='../public/stylesheets/style.css' />

</head>
<body>
  
    <form action="/student/submit" method="post">

<input type="email" name="email"  />

<input type="password" name="password"  />
<button>  submit  </button>
    </form>
</body>
</html>