body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(0, 0, 0);
  color: aliceblue;
}

a {
  color: #00B7FF;
}

title {
  /* color: aliceblue; */
}

table {
  border : 2px rgb(255, 209, 2) solid ;
  align-items: center;
  align-self: center;
  align-items: center;
  
}

td{
align-items: center;
align-self: center;
align-items: center;
  border : rgb(243, 178, 0) solid 2px ;
  margin-left : 10px ;
  padding-left : 40px 
}